/* CSS files add styling rules to your content */
body{
  text-align: center;
}

#title {
  font-family: 'Slabo 27px', serif;
}

#description {
  font-family: 'Slabo 27px', serif;
}

.county{
  stroke: black;
  stroke-width: 0.125;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip 
{	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    height: auto;					
    padding: 2px;				
    font-family: 'Slabo 12px', serif;
    background: lavender;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}