/* CSS files add styling rules to your content */
body{
  text-align: center;
}

#title {
  font-family: 'Slabo 27px', serif;
}

#description {
  font-family: 'Slabo 27px', serif;
}

.county{
  stroke: black;
  stroke-width: 0.125;
}